*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(70deg #ffda);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*          LOADER 2             */

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.loader > span {
    display: inline-block;
    background: purple;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation:  bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2){
    background: palevioletred;
    animation-delay: 0.2s;
}
.loader span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}



/*          main         */
.main{
    width: 100%;
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./images/dots-bg.jfif);
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    height: 15vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#logo{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}
.nav-icon{
    font-size: 2em;
    /* font-weight: 300; */
    animation: rotation 1s infinite linear;
    cursor: pointer;
    margin-right: 5px;
}
@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
nav a{
    text-decoration: none;
    color: #ffff;
    font-size: 1.5em;
    transition: 0.5s;
    position: absolute;
    top: 55%;
    right: 7%;
}
nav a:hover{
    font-size: 1.6em;
}
.hamburger{
    font-size: 2.5em;
    position: absolute;
    z-index: 10;
    right: 10%;
    top: 32%;
    display: none;
}
.hamburger:hover{
    animation: shake 0.5s;
    animation-iteration-count: 3;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.get-in-touch{
    width: 100%;
    min-height: 55vh;
    background: #000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 13vh;
    transform: translateY(15vh);
    transition:  transform 2s;
    font-size: 1.8em;
}
.get-in-touch a{
    text-decoration: none;
    width: 90%;
    padding: 10px;
    margin: 0 20px;
    color: #fff;
    border: 1px dotted #fff;

}
.get-in-touch a:hover{
    animation: shake 0.5s;
    animation-iteration-count: 1;
    background: rgba(255, 255, 255, 0.103);
    transition: 00.5s;
}
.get-in-touch a i{
    margin-left: 15px;
}
.banner{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.socials{
    width: 110px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
}
.socials a{
    color: #222;
    transition: transform 0.5s;
    color: #fff;
}
.socials a:hover{
    transform: translateX(10px);
}
.socials hr{
    height: 50%;
    border: 1px solid #444;
}
.banner-text, .banner-img{
    width: 40%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text h1{
    font-size: 3.4em;
    font-weight: 700;
    color: #111;
    margin-left: 20px;
    color: #fff;
    letter-spacing: 6px;
}
.banner-text span{
    border-left: 5px solid rgb(59, 130, 246);
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.banner-text h2{
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 10px;
    color: rgb(59, 130, 246);
    transform: translateX(1px);
    transition: transform 0.5s;
}
.banner-text p{
    color: #fff;
    line-height: 32px;
    font-weight: 100;
}
.banner-img{
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.banner-img img{
    width: 50vw;
    animation: rotate 4.5s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}
@keyframes rotate {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom:40px;
    }
}
.resume{
    width: 290px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 15%;
    letter-spacing: 50%;
}
#download, #contact{
    width: 45%;
    border: 2.5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.5s;
}
#contact{
    background: rgb(59, 130, 246);
    border: none;
    font-size: 18px;
}
#download:hover, #contact:hover{
    transform: translateY(-5px);
}

.my-skills{
    width: 100%;
    min-height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 20px 10px 15px;
}
.my-skills h1{
    margin: 40px 20px 0;
}
.skills{
    min-width: 65%;
    min-height: 80vh;
    display: grid;
    column-gap: 10rem;
    row-gap: 2rem;
    /* background: green; */
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    font-size: 12em;
}
.skills i{
    position: relative;
}
.html{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fdca50;
}

.css{
    position: relative;
    color: #00a8cc;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.js{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: yellow;
}
.react{
    color: #00a8cc;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.boots{
    color: #fff;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tailwind{
    width: 250px;
    height: 250px;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
@media (max-width: 1000px){
    #logo{
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 2em;
        font-family: 'Pacifico', cursive;
    }
    .banner{
        flex-direction: column-reverse;
        min-height: 180vh;
        top: auto;
    }
    .banner-text, .banner-img{
        width: 100%;
        height: 60vh;
        align-items: center;
        justify-content: center;
    }
    .banner-img{
        overflow: visible;
        height: 90vh;
    }
    .banner-img img{
        left: 15%;
        bottom: 0;
        width: 600px;
        display: flex;
        align-self: center;
    }
    .resume{
        bottom: 5%;
        left: 35%;
    }
    .socials{
        display: none;
    }
    .banner-text h1{
        margin-bottom: 30px;
        font-size: 3.7em
    }.skills{
        grid-template-columns: auto auto;
        padding-top: 70px;
        grid-template-rows: auto auto auto;
    }
    .js, .react{
        margin-top: 50px;
    }
    @keyframes rotate {
        0%, 100% {
            bottom: 0;
        }
        50% {
            bottom:30px;
        }
    }
@media (max-width: 720px){
    .banner{
        min-height: 180vh;
    }
    .banner-img{
        width: 100%;
        height: 90vh;
        padding: 0;
        justify-content: center;
        align-items: flex-start;
    }
    .banner-img img{
        width: 100%;
        left: 0;
        bottom: 0%;
    }
    .resume{
        left: 30%;
    }
}
@media (max-width: 620px){
    .banner-img{
        width: 100%;
        height: 70vh;
        padding: 0;
        justify-content: center;
        align-items: flex-start;
    }
    .banner-img img{
        width: 100%;
        left: 0;
        bottom: -15%;
    }
    .banner-text h1{
        font-size: 3em;
    }
    .resume{
        left: 25%;
    }
    nav a{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .skills{
        grid-template-columns: auto;
    }
    .skills i{
        margin: 35px 0;
    }
    .js, .react{
        margin: 0;
    }
    .html i{
        top: 2%;
    }
}
@media (max-width: 520px) {
    .banner-img{
        width: 100%;
        height: 70vh;
        padding: 0;
        justify-content: center;
        align-items: flex-start;
    }
    .banner-img img{
        width: 100%;
        left: 0;
        bottom: -15%;
    }
    .banner-text h1{
        margin-bottom: 30px;
        font-size: 2.7em;
    }
    .banner-text span{
        border: none;
        margin: 0;
        padding: 0;
    }
    .banner-text span h2{
        border-left: 3px solid rgb(59, 130, 246);
        padding-left: 10px;
    }
    .banner-text span p{
        padding-left: 10px;
        border-left: 3px solid rgb(59, 130, 246);
    }
    .resume{
        left: 20%;
    }
    .skills{
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 440px){
    .banner{
        min-height: 170vh;
    }   
    .banner-text, .banner-img{
        width: 90%;
        height: 60vh;
        align-items: center;
        justify-content: center;
    }
    .banner-img{
        width: 100%;
        height: 50vh;
        padding: 0;
        justify-content: center;
        align-items: flex-start;
    }
    .banner-text h1{
        font-size: 2.2em;
    }
    .banner-img img{
        left: 15%;
        width: 100%;
        left: 0;
    }
    .resume{
        left: 0;
        width: 100%;
        justify-content: space-evenly;
    }
    #download, #contact{
        width: 170px;
    }
}
@media (max-width: 360px){
    /* nav{
        height: 15vh;
        background: #fdca50;
    } */
    .banner-img{
        height: 30vh;
    }
    .banner-text h1{
        font-size: 1.7em;
    }
    .resume{
        flex-direction: column;
        height: 150px;
        bottom: 0;
    }

}